<div>
  <input
    #authorInput
    [disabled]="!model.editable"
    autocomplete="off"
    placeholder="Author"
    [value]="model.author$ | async"
    (input)="onAuthorChange(authorInput.value)"
  >
  <input
    #newspaperTitleInput
    [disabled]="!model.editable"
    autocomplete="off"
    placeholder="NewspaperTitle"
    [value]="model.title$ | async"
    (input)="onTitleChange(newspaperTitleInput.value)"
  >
  <input
    #passageTitleInput
    [disabled]="!model.editable"
    placeholder="PassageTitle"
    [value]="model.passageTitle$ | async"
    (input)="onPassageTitleChange(passageTitleInput.value)"
  >
  <input
    #pageNumberInput
    [disabled]="!model.editable"
    type="number"
    placeholder="PageNumber"
    [value]="model.page$ | async"
    (input)="onPageChange(pageNumberInput.value)"
  >
  <label>PublishingDate:
  <input
    #dateInput
    [disabled]="!model.editable"
    type="date"
    placeholder="PublishingDate"
    [value]="model.publishDate$ | async"
    (input)="onPublishingDateChange(dateInput.value)"
  ></label>
</div>
