<div>
  <input
    #authorInput
    [disabled]="!editable"
    autocomplete="off"
    placeholder="Author"
    [value]="$author | async"
    (input)="onAuthorChange(authorInput.value)"
  >
  <input
    #newspaperTitleInput
    [disabled]="!editable"
    autocomplete="off"
    placeholder="NewspaperTitle"
    [value]="$title | async"
    (input)="onTitleChange(newspaperTitleInput.value)"
  >
  <input
    #passageTitleInput
    [disabled]="!editable"
    placeholder="PassageTitle"
    [value]="$passageTitle | async"
    (input)="onPassageTitleChange(passageTitleInput.value)"
  >
  <input
    #pageNumberInput
    [disabled]="!editable"
    type="number"
    placeholder="PageNumber"
    [value]="$page | async"
    (input)="onPageChange(pageNumberInput.value)"
  >
  <label>PublishingDate:
  <input
    #dateInput
    [disabled]="!editable"
    type="date"
    placeholder="PublishingDate"
    [value]="$publishingDate | async"
    (input)="onPublishingDateChange(dateInput.value)"
  ></label>
</div>
