<!--<div>-->
<!--  <div>-->
<!--    <app-example-proposal-approver-pending-item-->
<!--      *ngFor="let item of pendingItems; index as i"-->
<!--      [selected]="isFocused(i)"-->
<!--      [index]="i"-->
<!--      [proposer]="item.proposer"-->
<!--      [text]="item.text"-->
<!--      [comment]="item.comment"-->
<!--      (select)="onItemFocus(i)"-->
<!--    ></app-example-proposal-approver-pending-item>-->
<!--  </div>-->
<!--  <div [hidden]="!showDetail">-->
<!--    <app-example-proposal-editor></app-example-proposal-editor>-->
<!--    <button (click)="onApprove()">Approve</button>-->
<!--    <button (click)="onReject()">Reject</button>-->
<!--  </div>-->
<!--</div>-->
