<div>
  <label>Example Text:
    <div
      appEditable
      [enabled]="model.editable"
      [text]="model.italicizedText$ | async"
      (valueChange)="onTextChange($event)"
      (italicizedRanges)="onItalicsChange($event)"
    ></div>
  </label>
  <div>Keywords:
    <app-list-manipulator [model]="model.keywordsComponentModel">
      <ng-template let-elementModel="elementModel">
        <app-keyword [model]="elementModel"></app-keyword>
      </ng-template>
    </app-list-manipulator>
  </div>
  <div>Translations:
    <app-list-manipulator [model]="model.translationsComponentModel">
      <ng-template let-elementModel="elementModel">
        <app-translation [model]="elementModel"></app-translation>
      </ng-template>
    </app-list-manipulator>
  </div>
  <div>
    <label>Comment:
      <input #commentInput placeholder="Note Goes Here." [disabled]="!model.editable" [value]="model.comment$ | async" (input)="onCommentChange(commentInput.value)">
    </label>
  </div>
  <div>
    <label>Note:
      <input #noteText placeholder="Note Goes Here." [disabled]="!model.editable" [value]="model.note$ | async" (input)="onNoteChange(noteText.value)">
    </label>
  </div>
  <label>
    <select #sourceSelect [disabled]="!model.editable" (change)="onSourceChoose(sourceSelect.value)">
      <option value=null selected>-</option>
      <option value="journal">Journal</option>
      <option value="book">Book</option>
    </select>
  </label>
  <app-proposal-book-source *ngIf="displaySource('book')" [model]="bookSourceComponentModel"></app-proposal-book-source>
  <app-proposal-journal-source *ngIf="displaySource('journal')" [model]="journalSourceComponentModel"></app-proposal-journal-source>
  <button (click)="save()">Submit</button>
</div>
