<nav>
  <div class="burgerLeft">
    <app-burger-icon (switch)="sidebarLeft.toggle()"></app-burger-icon>
  </div>
  <div class="navigator">
    <a class="clickable">EDITOR PORTAL</a>
    <a class="clickable">MY PROPOSALS</a>
  </div>
  <div class="burgerRight">
    <app-burger-icon (switch)="sidebarRight.toggle()"></app-burger-icon>
  </div>
</nav>
<app-sidebar #sidebarLeft title="Draft Box">
  <app-proposal-list></app-proposal-list>
</app-sidebar>
<app-sidebar #sidebarRight [isLeft]="false" title="To Be Reviewed"></app-sidebar>

