<div>
  <div appEditable [text]="text" (valueChange)="changeText($event)">Example Text Goes Here.</div>
  <div cdkDropList>
    <div
      cdkDrag
      appEditable
      *ngFor="let translation of translations; index as i"
      [text]="translations[i]"
      (valueChange)="changeTranslation(i, $event)"
    >Translation {{i+1}}
    </div>
  </div>
  <div cdkDropList>
    <div
      cdkDrag
      appEditable
      *ngFor="let word of appliedWords; index as i"
      [text]="appliedWords[i]"
      (valueChange)="changeAppliedWord(i, $event)"
    >Word {{i+1}}
    </div>
  </div>
  <div
    appEditable
    [text]="note"
    (valueChange)="changeNote($event)"
  >Note
  </div>
  <div
    appEditable
    [text]="comment"
    (valueChange)="changeComment($event)"
  >Comment
  </div>
  <ng-content></ng-content>
</div>
