<div>
  <label>Example Text:
    <div
      appEditable
      [text]="italicizedExampleText"
      (valueChange)="onTextModify($event)"
      (italicizedRanges)="onItalicizedRangesChange($event)"
    ></div></label>
  <div
    [cdkDropListDisabled]="!unlocked"
    id="translation"
    cdkDropList
    [cdkDropListConnectedTo]="['trash']"
    (cdkDropListDropped)="onTranslationDrop($event)"
    [cdkDropListData]="'translation'"
  >Translations:
    <div [cdkDragDisabled]="!unlocked" cdkDrag *ngFor="let translation of translations; index as i trackBy:trackByFn">
      <div class="example-handle" cdkDragHandle>
        <svg width="12px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div class="editable">
        <label>Translation {{i+1}}:<input #translationInput [disabled]="!unlocked" [value]="translation" (input)="onTranslationModify(i, translationInput.value)"></label>
      </div>
    </div>
  </div>
  <div
    [cdkDropListDisabled]="!unlocked"
    id="appliedWord"
    cdkDropList
    [cdkDropListConnectedTo]="['trash']"
    [cdkDropListData]="'appliedWord'"
    (cdkDropListDropped)="onAppliedWordDrop($event)"
  >Keywords:
    <div [cdkDragDisabled]="!unlocked" cdkDrag *ngFor="let word of appliedWords; index as i; trackBy:trackByFn">
      <div class="example-handle" cdkDragHandle>
        <svg width="12px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <label>ApplyTo:<input #appliedWordInput [disabled]="!unlocked" placeholder="AppliedWord" [value]="word" (input)="onAppliedWordModify(i, appliedWordInput.value)"></label>
    </div>
  </div>
  <div>
    <label>Comment:
      <input #commentInput placeholder="Note Goes Here." [disabled]="!unlocked" [value]="comment" (input)="onCommentModify(commentInput.value)">
    </label>
  </div>
  <div>
    <label>Note:
      <input #noteText placeholder="Note Goes Here." [disabled]="!unlocked" [value]="note" (input)="onNoteModify(noteText.value)">
    </label>
  </div>
  <select #sourceSelect [disabled]="!unlocked" (change)="onSourceChoose(sourceSelect.value)">
    <option value='' [selected]="sourceNull">-</option>
    <option value="journal">Journal</option>
    <option value="book">Book</option>
  </select>
  <ng-template source-host></ng-template>
  <div id="new" cdkDropList [cdkDropListDisabled]="!unlocked" [cdkDropListConnectedTo]="['translation', 'appliedWord']">
    <div cdkDrag [cdkDragDisabled]="!unlocked">+</div>
  </div>
  <div id="trash" cdkDropList [cdkDropListDisabled]="!unlocked" (cdkDropListDropped)="onTrashDrop($event)">Trash</div>
</div>
