<div>
  <label>Example Text:<div appEditable [text]="text" (valueChange)="changeText($event)"></div></label>
  <div cdkDropList>
    <div
      cdkDrag
      appEditable
      *ngFor="let translation of translations; index as i"
      [text]="translations[i]"
      (valueChange)="changeTranslation(i, $event)"
    >Translation {{i+1}}
    </div>
  </div>
  <div cdkDropList>
    <div
      cdkDrag
      appEditable
      *ngFor="let word of appliedWords; index as i"
      [text]="appliedWords[i]"
      (valueChange)="changeAppliedWord(i, $event)"
    >Word {{i+1}}
    </div>
  </div>
  <label>Note:
    <div
      appEditable
      [text]="note"
      (valueChange)="changeNote($event)"
    >
    </div>
  </label>
  <label>Comment:
    <div
      appEditable
      [text]="comment"
      (valueChange)="changeComment($event)"
    >
    </div>
  </label>
  <select #sourceSelect (input)="chooseSource(sourceSelect.value)">
    <option value="Newspaper">Newspaper</option>
    <option value="Paperbook">Paperbook</option>
  </select>
  <ng-content></ng-content>
</div>
