<div>
  <input
    #authorInput
    autocomplete="off"
    placeholder="Author"
    [value]="author"
    (input)="changeAuthor(authorInput.value)"
  >
  <input
    #newspaperTitleInput
    autocomplete="off"
    placeholder="NewspaperTitle"
    [value]="title"
    (input)="changeTitle(newspaperTitleInput.value)"
  >
  <input
    #passageTitleInput
    autocomplete="off"
    placeholder="PassageTitle"
    [value]="passageTitle"
    (input)="changePassageTitle(passageTitleInput.value)"
  >
  <input
    #pageNumberInput
    type="number"
    autocomplete="off"
    placeholder="PageNumber"
    [value]="pageNumber"
    (input)="changePageNumber(pageNumberInput.value)"
  >
  <label>PublishingDate:
  <input
    #dateInput
    autocomplete="off"
    type="date"
    placeholder="PublishingDate"
    [value]="getPublishingDate()"
    (input)="dateChange(dateInput.value)"
  ></label>
</div>
